input{
    padding: 8px 4px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    margin-bottom: 12px;
    transition: 0.5s all;
    color: #465268;
    &:focus{
        border: 2px solid #465268;
    }
}