button{
    padding: 7px 12px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #465268;
    color: #fff;
    transition: 0.5s all;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}