.dashview{
    width: 100%;
    background-color: #f3f2f2;
    padding: 20px 24px!important;
    position: relative;
    height: 100vh;
}


.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}


.last__title{
    display: block;
    margin-top: 32px;
    font-size: 1.2rem;
    font-weight: 400;
}